.list-container {
    padding: 0;
    margin: 1rem 0;
    width: 100vw;
    min-width: 280px;
    max-width: 400px;
}

 h2 {
    font-size: 2rem;
}

.list-wrapper {
    overflow-y: scroll;
    margin-bottom: 1.2rem;
    width: 100%;
}

.list-wrapper::-webkit-scrollbar {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 1rem;
    background: #FAFAFA;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 439px 268px rgba(0, 0, 0, 0.06), 0px 202.963px 123.905px rgba(0, 0, 0, 0.0445005), 0px 116.131px 70.8953px rgba(0, 0, 0, 0.0376069), 0px 70.4906px 43.033px rgba(0, 0, 0, 0.0323969), 0px 42.4737px 25.9293px rgba(0, 0, 0, 0.0276031), 0px 23.6521px 14.4391px rgba(0, 0, 0, 0.0223931), 0px 10.1726px 6.21015px rgba(0, 0, 0, 0.0154995);
    border-radius: 40px;
    max-width: 350px;
    min-width: 280px;
    height: 24rem;
    margin: 0 auto
}

#list-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1rem;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: .5rem 1rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 18px;
    background-color: rgba(220, 220, 220, 0.5);
    margin: 0 auto .5rem auto;
    cursor: pointer;
    transition: all 0.7s;
    color: rgba(0, 0, 0, 0.6);
}

.list-item:hover {
    height: 120px;
}